@import "./vars";

@mixin mQ($args...) {
    @if length($args) == 1 {
        @media screen and (min-width: nth($args, 1)) {
            @content;
        }
    } @else if length($args) {
        @media screen and (min-width: nth($args, 1)) and (max-width: nth($args, 2)) {
            @content;
        }
    }
}

@mixin logoFontSizeStyle($fontSize) {
    font-size: $fontSize;
    h2 {
        font-size: $fontSize - $lowerThanSecondLogoHeader;
    }
}

@mixin labelStyle($color, $width) {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    width: $width;
    height: $inputHeight;
    margin-right: 10px;

    transition: color .2s ease-in-out;
    color: darken($color, 10);
}

@mixin inputContainerStyle {
    box-sizing: border-box;
    width: $widthInput * 2;
    height: $inputHeight;
}

@mixin inputStyle($underlineColor) {
    @include inputContainerStyle;
    width: 100%;
    transition: border-bottom .2s ease-in-out;
    border-bottom: 1px solid $underlineColor;

    &:focus {
        border-bottom: 1px solid $loginColor;
    }
}