@import "functions";

// small devices (landscape phones, 576px and up)
$smallDevices:  576px;
// medium devices (tablets, 768px and up)
$mediumDevices: 768px;
// large devices (desktops, 992px and up)
$largeDevices:  992px;
// extra large devices (large desktops, 1200px and up)
$xLargeDevices: 1200px;

// nav
$navTopMargin:                20px;
  // logo
  $logoColor: #000;
  $insideLogoPadding:         5px;
  $h1MarginBottom:            $insideLogoPadding;
  $lowerThanSecondLogoHeader: 8px;
  $logoLeftMargin:            20px;

  $smallLogoHeight:           210px;
  $mediumLogoHeight:          220px;
  $largeLogoHeight:           260px;
  $xLargeLogoHeight:          270px;

  $smallLogoFontSize:         29px;
  $mediumLogoFontSize:        37px;
  $largeLogoFontSize:         39px;
  $xLargeLogoFontSize:        47px;

  $smallFullNavHeight:  fullNavHeight($smallLogoFontSize, $insideLogoPadding, $lowerThanSecondLogoHeader, $navTopMargin);
  $mediumFullNavHeight: fullNavHeight($mediumLogoFontSize, $insideLogoPadding, $lowerThanSecondLogoHeader, $navTopMargin);
  $largeFullNavHeight:  fullNavHeight($largeLogoFontSize, $insideLogoPadding, $lowerThanSecondLogoHeader, $navTopMargin);
  $xLargeFullNavHeight: fullNavHeight($xLargeLogoFontSize, $insideLogoPadding, $lowerThanSecondLogoHeader, $navTopMargin);
  // end logo
// end nav