doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu')

  body
    block content

  script(src="bundle.js", type="text/javascript")