@import "../../styles/vars";

span {
    width: 100%;
    min-height: $gridElementHeight;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: width .2s ease-in-out;
    width: 160px;
    &:hover {
        width: 170px;
    }
}

.yellow { background-color: yellowgreen; }
.blue { background-color: aliceblue; }
.green { background-color: darkolivegreen; }