@import "../../styles/vars";
@import "../../styles/mixins";

.inputContainer {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
    width: 100%;
    min-height: $inputHeight;
}

.label {
    @include labelStyle($unfocusedInputColor, $inputWidth);
}

.labelFocused {
    @include labelStyle($loginColor, $inputWidth);
}

.labelIncorrect {
    @include labelStyle(tomato, $inputWidth);
}

.messageBox {
    width: 100%;
    padding-left: $inputWidth + $labelMarginRight;
    color: $loginColor;
}