@import "../../styles/vars";
@import "../../styles/mixins";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: $navTopMargin;
}

.navLinks {
  display: inline;
  float: left;
  margin-left: 20px;

  li {
    padding: 0 10px 10px;
  }

  @include mQ($smallDevices) {
    margin-left: 30px;
    li {
      display: inline;
      float: left;
    }
  }

  a {
    color: $logoColor;
    text-decoration: none;

    @include mQ($smallDevices) {
      font-size: $smallLogoFontSize - $lowerThanSecondLogoHeader;
    }
    @include mQ($mediumDevices) {
      font-size: $largeLogoFontSize - $lowerThanSecondLogoHeader;
    }
    @include mQ($largeDevices) {
      font-size: $xLargeLogoFontSize - $lowerThanSecondLogoHeader;
    }
    @include mQ($xLargeDevices) {
      font-size: $xLargeLogoFontSize - $lowerThanSecondLogoHeader;
    }

    &:hover {
      //text-decoration: overline;
    }
  }

  &::after {
    display: block;
    clear: both;
  }
}