@import "../../styles/vars";
@import "../../styles/mixins";

.nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: $navTopMargin;
  z-index: 10;
}

.navLinks {
  display: inline;
  float: left;
  margin-left: 20px;

  @include mQ($smallDevices) {
    margin-left: 30px;
    li {
      display: inline;
      float: left;
    }
  }

  &::after {
    display: block;
    clear: both;
  }
}