@import "../../styles/vars";
@import "../../styles/mixins";

.container {
  position: relative;
  top: $smallFullNavHeight - 20px;

  @include mQ($smallDevices) {
    top: $mediumFullNavHeight - 20px;
  }
  @include mQ($mediumDevices) {
    top: $largeFullNavHeight - 20px;
  }
  @include mQ($largeDevices) {
    top: $xLargeFullNavHeight - 20px;
  }
}