@import "../../styles/vars";
@import "../../styles/mixins";

.inputContainer {
    @include inputContainerStyle;
}

.input, .input:focus {
    border: none;
    outline: none;
}

.input {
    @include inputContainerStyle;
    width: 100%;
    transition: border-bottom .2s ease-in-out;
    border-bottom: 1px solid $unfocusedInputColor;

    &:focus {
        border-bottom: 1px solid $loginColor;
    }
}


