@import "../../styles/vars";
@import "../../styles/mixins";

.input, .input:focus {
    border: none;
    outline: none;
}

.input {
    box-sizing: border-box;
    width: $widthInput * 2;
    height: $inputHeight;

    transition: border-bottom .2s ease-in-out;
    border-bottom: 1px solid $unfocusedInputColor;

    &:focus {
        border-bottom: 1px solid $loginColor;
    }
}


